body {
    --main-bg-color: white;
    --main-fg-color: #222;
    --eth-red: #b7352d;
    --eth-blue: #215caf;
    --eth-green: #627313;
    --highlight-color: #4f3538;
    font-family: "DINPro-Medium", helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
}

header {
    margin-top: 100px;
    padding: 50px 0px;
    font-size: 1.5rem;
}
header > h1 {
    font-size: 2.5rem;
    padding: 20px 0px;
}

#logo {
    height: 50px;
    width: auto;
}

#banner {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

section {
    padding: 20px 0px;
}

h2 {
    border-bottom: 1px lightgray solid;
    padding: 10px 0px;
    font-weight: bold;
}

p {
    margin: 5px 0px;
}


.group-container {
    padding: 20px 0px !important;
}

.group {
    margin-right: 50px;
    height: 200px;
    border-left: 8px solid var(--highlight-color);
    padding: 10px 20px;
    box-shadow: 0 0.1875rem 0.5rem rgba(31, 64, 122, .3);
    font-size: 15px;
    ;
}

figcaption {
    color: gray;
    font-size: 12px;
}

.group-name {
    font-weight: bold;
    font-size: 18px;
}

.pub {
    font-size: 18px;
}

#contact {
    text-align: left;
}

footer {
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
    padding: 20px 0px;
}

#contact > h3 {
    font-weight: bold;
    font-size: 1.2rem;
}

#contact > p {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .w3-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    #logo {
        height: 30px;
        width: auto;
    }
    header {
        margin-top: 80px;
        font-size: 1.2rem;
    }
    header > h1 {
        font-size: 1.8rem;
    }
  }